* {
  margin: 0;
  padding: 0px;
}

body {
  background: #f7c364;
  font-size: 14px;
  font-family: monument extended;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
}

